---
import { GITHUB_REPO, LINKEDIN_URL } from '../consts';

import GithubIcon from './icons/GithubIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Rafael Marín Sánchez.
	<div class="social-links">
		<a href={GITHUB_REPO} target="_blank">
			<span class="sr-only">Go to me GitHub repo</span>
			<GithubIcon size="32"/>
		</a>
		<a href={LINKEDIN_URL} target="_blank">
			<span class="sr-only">Go to me LinkedIn page</span>
			<LinkedInIcon size="32"/>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: var(--text-secondary);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--text-secondary);
	}
	.social-links a:hover {
		color: var(--text-primary);
	}
</style>
