---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, GITHUB_REPO, LINKEDIN_URL } from '../consts';

import ThemeIcon from './icons/ThemeIcon.astro';
import GithubIcon from './icons/GithubIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
---

<header>
	<nav>
		<h2><ThemeIcon /><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div class="social-links">
			<a href={GITHUB_REPO} target="_blank">
				<span class="sr-only">Go to my GitHub repo</span>
				<GithubIcon size="28"/>
			</a>
			<a href={LINKEDIN_URL} target="_blank">
				<span class="sr-only">Go to my linkedIn page</span>
				<LinkedInIcon size="28"/>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em 0.5em 0.5em;
		color: var(--text-main);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
		display: flex;
	}
	@media (max-width: 720px) {
		header {
			margin: 0;
			padding: 0 0.5em;
		}
		.social-links {
			transform: scale(0.7);
		}
	}
</style>
