{{- with site.Params.homeInfoParams }}
<h1>{{ .Title | markdownify }}</h1>
<article class="home-info">
    <br>
    <div class="post-content">
        {{ with site.GetPage "/home" }}
        {{ .Content }}
        {{ end }}
    </div>
    <header class="entry-header">
        <div class="custom-profile">
            <img draggable="false" src="/assets/img/me.webp" alt="profile">
            <span>Automation Architech</span>
            {{- partial "social_icons.html" -}}
        </div>
    </header>
</article>
{{- end -}}
